@CHARSET "ISO-8859-1";
div {
	color:red;
}


/* Ejercicio 4_1 Ejercicio 4_2 */
div { margin: 2px; font:bold 9pt 'Segoe UI';}
.parent {
  border:solid 2px black;
  color:black;
}
.child {
  border:solid 2px gray;
  height:40px;
  color:gray;
}


/* Ejercicio 4_3 */
#cheeseburger {
  width:200px;
  height:1200px;
  border:solid 1px gray;
  overflow-y:scroll;
}

#cheeseburger img { width:180px; }


/* Ejercicio 6 */
#results {
  border:solid 2px gray;
  height:200px;
}